.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.error {
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid #760c0c;

    .submit {
        height: 30px;
        border: none;
        cursor: pointer;
        background-color: burlywood;
    }
}